<h1>図書一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ISBN</th>
      <th>出版年</th>
      <th>出版社</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.published_year %></td>
        <td><%= book.publisher %></td>
      </tr>
    <% end %>
  </tbody>
</table>